// Colors 
$red-clr: #ffadad;
$orange-clr: #ffd6a5;
$yellow-clr: #fdffb6;
$green-clr: #caffbf;
$blue-clr: #9bf6ff;
$purple-clr: #bdb2ff;
$background-clr: #f1faee;
$white-clr: #fff;
$black-clr: #111;


body {
	background-color: $background-clr;
	transition: background-color 0.5s ease-in;
}

.background{
	&--red {
		background-color: $red-clr;
	}
	&--orange {
		background-color: $orange-clr;
	}
	&--yellow {
		background-color: $yellow-clr;
	}
	&--green {
		background-color: $green-clr;
	}
	&--blue {
		background-color: $blue-clr;
	}
	&--purple {
		background-color: $purple-clr;
	}
	&--rest {
		background-color: $background-clr;
	}
}


.nav-toggle {
	&__button {
		height: 30px;
		width: 30px;
		margin: 15px;
		background-image: url("hamburger_icon.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		cursor: pointer;
		}
	&__list {
		position: fixed;
		left: 0;
		top: 0;
		padding: 0;
		background-color: $white-clr;
		overflow: hidden;
		margin: 50px 0 0 22px;
		box-shadow: 8px 8px 6px #888888;
		transition: transform 0.8s ease-out;
		&.hidden {
			visibility: hidden;
			transform: translateY(-500px);
		}
		&__color {
			list-style: none;
			&--red {
				background-color: $red-clr;
			}
			&--orange {
				background-color: $orange-clr;
			}
			&--yellow {
				background-color: $yellow-clr;
			}
			&--green {
				background-color: $green-clr;
			}
			&--blue {
				background-color: $blue-clr;
			}
			&--purple {
				background-color: $purple-clr;
			}
			&--reset {
				background-color: $background-clr;
			}
			&.active {
				border: 2px ridge #888888;
			}
			& span {
				display: block;
				padding: 20px;
				color: $black-clr;
				font-family: arial;
				font-size: 16px;
				white-space: nowrap;
			}
		}
	}
}

.color__text {
	margin-top: 50px;
	text-align: center;
	font-size: 50px;
}